<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blog Template for Bootstrap</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<div class="container">

  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-center align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" th:href="@{/}">
          <div class="waviy">
            <span style="--i:1">S</span>
            <span style="--i:2">t</span>
            <span style="--i:3">e</span>
            <span style="--i:4">r</span>
            <span style="--i:5">t</span>
            <span style="--i:6">a</span>
            <span style="--i:7">.</span>
          </div>
        </a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">World</a>
      <a class="p-2 text-muted" href="#">U.S.</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>

</div>

<main role="main" class="container">

  <div class="container-fluid">
    <div class="row text-center text-dark justify-content-center">
      <div class="col-xl-3 col-sm-3 py-2 px-1">
        <div class="rounded shadow-sm">
          <i class="fas fa-user-circle fa-x mb-2"></i>
          <h5 th:text="${author.getFirstName() + ' ' + author.getLastName()}" class="mb-0"></h5>
          <a href="#" th:text="${author.getUsername()}" class="small text-uppercase text-muted"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="mb-2 mt-2">Posty twojego autorstwa: </h2>
  </div>

  <div class="container-fluid">
    <div th:each="post, i : ${posts}" th:class="${'card bg-' + colors[random.nextInt(#arrays.length(colors))] + ' text-white mb-2'}">
      <div class="card-header bg-light d-flex justify-content-between">
        <ul class="nav nav-pills card-header-pills">
          <li th:each="tag : ${post.getTags()}" class="nav-item">
            <span th:text="${tag}" th:class="${'p1 m-1 badge badge-' + colors[random.nextInt(#arrays.length(colors))]}"></span>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 th:text="${#strings.arraySplit(post.getContent(), '.')[0]}" class="card-title"></h5>
        <p th:text="${post.getContent()}" class="card-text text-justify"></p>
        <div class="d-flex justify-content-end">
          <a th:href="@{/post/{id}(color=${i.index % 3 == 0 ? color : null}, id=${post.getId()})}" class="see-btn"><span>ZOBACZ</span></a>
        </div>
      </div>
      <div class="card-footer bg-light" >
        <small class="text-muted">Ostatnia aktualizacja: <small th:text="${#temporals.format(post.getLastModified(), 'yyyy-MM-dd, HH:mm')}"></small></small>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="mb-2 mt-2">Komenatrze twojego autorstwa: </h2>
  </div>

  <div class="container mt-4">
    <div th:each="comment : ${comments}" class="justify-content-center mb-2">
      <div class="col-m-2">
        <div class="card border-secondary">
          <div class="card-header d-flex flex-row user-info">
            <i class="fas fa-user-circle fa-2x mb-2"></i>
            <div class="d-flex flex-column justify-content-start ml-2">
              <a href="#" th:text="${comment.getUsername()}" class="d-block font-weight-bold name"></a>
              <small th:text="${#temporals.format(comment.getLastModified(), 'yyyy-MM-dd, HH:mm')}" class="date text-black-50 text-muted"></small>
            </div>
          </div>
          <div class="card-body mt-2 p-2">
            <p th:text="${comment.getBody()}" class="comment-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="mb-2 mt-2">Statystyki: </h2>
  </div>

  <div class="container-fluid">
    <table id="example" class="table table-bordered">
      <thead>
      <tr>
        <th>Statystyka</th>
        <th>Wynik</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Liczba postów twojego autorstwa</td>
        <td th:text="${posts.size()}">Wynik</td>
      </tr>
      <tr>
        <td>Liczba komentarzy twojego autorstwa</td>
        <td th:text="${comments.size()}">Wynik</td>
      </tr>
      <tr>
        <td>Łączna liczba użytych tagów</td>
        <td th:text="${tagsNum}">Wynik</td>
      </tr>
      <tr>
        <td>Średnia ilość znaków w twoich postach</td>
        <td th:text="${avgPostLength}">Wynik</td>
      </tr>
      <tr>
        <td>Łączna ilość komentarzy pod twoimi postami</td>
        <td th:text="${postCommentsNum}">Wynik</td>
      </tr>
      </tbody>
    </table>
  </div>

</main>

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
