<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Template for Bootstrap</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<div class="container">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+</span>
                </div>
                <a href="#" class="btn btn-labeled btn-success">Wzbogać STERTE.</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" th:href="@{/}">
                    <div class="waviy">
                        <span style="--i:1">S</span>
                        <span style="--i:2">t</span>
                        <span style="--i:3">e</span>
                        <span style="--i:4">r</span>
                        <span style="--i:5">t</span>
                        <span style="--i:6">a</span>
                        <span style="--i:7">.</span>
                    </div>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </a>
                </form>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">World</a>
            <a class="p-2 text-muted" href="#">U.S.</a>
            <a class="p-2 text-muted" href="#">Technology</a>
            <a class="p-2 text-muted" href="#">Design</a>
            <a class="p-2 text-muted" href="#">Culture</a>
            <a class="p-2 text-muted" href="#">Business</a>
            <a class="p-2 text-muted" href="#">Politics</a>
            <a class="p-2 text-muted" href="#">Opinion</a>
            <a class="p-2 text-muted" href="#">Science</a>
            <a class="p-2 text-muted" href="#">Health</a>
            <a class="p-2 text-muted" href="#">Style</a>
            <a class="p-2 text-muted" href="#">Travel</a>
        </nav>
    </div>

</div>

<main role="main" class="container">
    <div class="card-columns">
        <div th:each="post, i : ${posts.content}"  th:with="color=${colors[random.nextInt(#arrays.length(colors))]}" th:class="${i.index % 3 == 0 ? 'card bg-' + color + ' text-white' : 'card border-secondary'}">
            <div class="card-header bg-light d-flex justify-content-between">
                <ul class="nav nav-pills card-header-pills">
                    <li th:each="tag : ${post.getTags()}" class="nav-item">
                        <span th:text="${tag}" th:class="${'p1 m-1 badge badge-' + colors[random.nextInt(#arrays.length(colors))]}"></span>
                    </li>
                </ul>
                <div>
                    <a th:href="@{/delete/{id}(id=${post.getId()})}" class="btn btn-danger"><i class="fas fa-trash fa-xs"></i></a>
                </div>
            </div>
            <div class="card-body">
                <h5 th:text="${#strings.arraySplit(post.getContent(), '.')[0]}" class="card-title"></h5>
                <p th:text="${post.getContent()}" class="card-text text-justify"></p>
                <div class="d-flex justify-content-end">
                    <a th:href="@{/post/{id}(color=${i.index % 3 == 0 ? color : null}, id=${post.getId()})}" class="see-btn"><span>ZOBACZ</span></a>
                </div>
            </div>
            <div class="card-footer bg-light" >
                <small class="text-muted">Ostatnia aktualizacja: <small th:text="${#temporals.format(post.getLastModified(), 'yyyy-MM-dd, HH:mm')}"></small></small>
            </div>
        </div>
    </div>
</main>

<nav class="pagination-outer" aria-label="Page navigation">
    <ul class="pagination">
        <li th:class="${posts.number eq 0} ? 'page-item disabled' : 'page-item'">
            <a th:if="${not posts.isFirst()}"
               th:href="@{/(size=${posts.size}, page=${posts.number})}"
               aria-label="Previous"
               class="page-link"><span aria-hidden="true">«</span></a>
            <a th:if="${posts.isFirst()}"
               href="javascript:void(0);"
               aria-label="Previous"
               class="page-link"><span aria-hidden="true">«</span></a>
        </li>
        <li th:each="pageNumber : ${pageNumbers}"
            th:class="${pageNumber == posts.number + 1} ? 'page-item active' : 'page-item'">
            <a th:href="@{/(size=${posts.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               class="page-link"></a>
        </li>
        <li th:class="${posts.number + 1 ge posts.totalPages} ? 'page-item disabled' : 'page-item'">
            <a th:if="${not posts.isLast()}"
               th:href="@{/(size=${posts.size}, page=${posts.number + 2})}"
               aria-label="Next"
               class="page-link"><span aria-hidden="true">»</span></a>
            <a th:if="${posts.isLast()}"
               href="javascript:void(0);"
               aria-label="Next"
               class="page-link"><span aria-hidden="true">»</span></a>
        </li>
    </ul>
</nav>

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
