<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Template for Bootstrap</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<div class="container">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-center align-items-center">
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" th:href="@{/}">
                    <div class="waviy">
                        <span style="--i:1">S</span>
                        <span style="--i:2">t</span>
                        <span style="--i:3">e</span>
                        <span style="--i:4">r</span>
                        <span style="--i:5">t</span>
                        <span style="--i:6">a</span>
                        <span style="--i:7">.</span>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">World</a>
            <a class="p-2 text-muted" href="#">U.S.</a>
            <a class="p-2 text-muted" href="#">Technology</a>
            <a class="p-2 text-muted" href="#">Design</a>
            <a class="p-2 text-muted" href="#">Culture</a>
            <a class="p-2 text-muted" href="#">Business</a>
            <a class="p-2 text-muted" href="#">Politics</a>
            <a class="p-2 text-muted" href="#">Opinion</a>
            <a class="p-2 text-muted" href="#">Science</a>
            <a class="p-2 text-muted" href="#">Health</a>
            <a class="p-2 text-muted" href="#">Style</a>
            <a class="p-2 text-muted" href="#">Travel</a>
        </nav>
    </div>

</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2 class="mb-5 mt-2">Nowy post na STERTE.</h2>
        </div>
    </div>
    <div class="row flex-nowrap justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-3">
            <form id="contact-form" class="form" th:action="@{/new}" method="POST" role="form">
                <div class="form-group">
                    <label class="form-label" for="tags">Tagi</label>
                    <input type="text" class="form-control" id="tags" name="tags" placeholder="Podaj tagi po przecinku (, )..." tabindex="3" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="content">Treść</label>
                    <textarea rows="5" cols="50" class="form-control" name="content" id="content" placeholder="Podaj treść..." tabindex="4" required></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label" for="authors">Autorzy</label>
                    <input type="text" class="form-control" id="authors" name="authors" placeholder="Podaj nazwy użytkownika autorów po przecinku (, )..." tabindex="2" required>
                </div>
                <div class="d-flex justify-content-center">
                    <a type="submit" class="send-btn m-4"><span>WRZUĆ</span></a>
                </div>
            </form>
        </div>
    </div>
</main>

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
